body {
  background-color: blanchedalmond;
  padding: 0px;
  margin: 0px;
}

.conteiner {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translate(50%);
  background-color: white;
}

header {
  position: relative;
  width: auto;
  height: 10%;
}

#logo {
  position: absolute;
  transform: translate(50%);
  right: 85%;
  top: 0%;
  width: auto;
  height: auto;
}

#sacola {
  position: absolute;
  transform: translate(50%);
  right: 5%;
  top: 0%;
}

.legenda {
  position: relative;
  transform: translate(50%);
  left: 30%;
  top: 5px;
}

.menuPrincipal li {
  display: inline;
  margin-left: 5px;
  text-decoration: none;
}

.menuPrincipal a {
  text-decoration: none;
  color: black;
}

.menuPrincipal {
  transform: translate(50%);
  position: absolute;
  left: 28%;
  top: 50px;
}

nav {
  position: absolute;
  transform: translate(50%);
  right: 88%;
  display: block;
  margin-top: 2%;
}

.busca {
  background-color: lightgrey;
  left: 5%;
  padding: 5%;
  width: 115%;
  margin-left: 5%;
}

.departamentos {
  /* left: 5%; */
  padding: 5%;
  width: 115%;
  text-decoration: none;
  height: auto;
  margin-left: 5%;
}

.departamentos a {
  padding: 5%;
  width: fit-content;
  /* left: 5%; */
}

#departamento {
  background-color: lightgrey;
}
