body {
  background-color: white;
  padding: 0px;
  margin: 0px;
}

header {
  position: relative;
  width: auto;
  height: 10%;
  margin-bottom: 110px;
}

.conteiner {
  width: 940px;
  margin: 0 auto;
  position: absolute;
  transform: translate(50%);
  background-color: white;
}

#logo {
  position: absolute;
  transform: translate(50%);
  right: 85%;
  top: 25%;
  width: auto;
  height: auto;
}

#titulo {
  margin-top: 40px;
  background-color: rgb(185, 184, 184);
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  display: block;
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

.texto {
  margin-left: 50px;
  margin-right: 50px;
  display: block;
  /* text-align: center; */
  font-family: "Lato", sans-serif;
}

#centro {
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(231, 229, 229);
  border: 20px;
  border-color: rgb(184, 168, 168);
  border-radius: 5px;
  text-align: center;
}

h5,
h4,
li {
  font-family: "Lato", sans-serif;
}

#historia {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  border-bottom-color: rgb(185, 184, 184);
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.textoHistoria {
  width: 50%;
  margin-left: 50px;
  font-family: "Lato", sans-serif;
  padding-right: 10%;
}

#direita {
  float: right;
  text-indent: 0;
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
  text-align: center;
  padding: 2%;
  height: 280px;
}

.rodape {
  width: 100px;
  margin-top: 50px;
  padding-right: 30px;
}
