.conteiner {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

header {
  position: relative;
}

#logo {
  position: absolute;
  transform: translate(50%);
  right: 50%;
  top: 10px;
}

#sacola {
  position: absolute;
  transform: translate(50%);
  right: 10%;
  top: 10px;
}

li {
  display: inline;
  margin-left: 10px;
}

ul {
  position: absolute;
  left: 70%;
  top: 8%;
}
