body {
  background-color: blanchedalmond;
  padding: 0px;
  margin: 0px;
}

.conteiner {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translate(50%);
  background-color: white;
}

header {
  position: relative;
}

#logo {
  position: absolute;
  transform: translate(50%);
  right: 85%;
  top: 0%;
}

#sacola {
  position: absolute;
  transform: translate(50%);
  right: 5%;
  top: 0%;
}

.legenda {
  position: relative;
  transform: translate(50%);
  left: 30%;
  top: 5px;
}

li {
  display: inline;
  margin-left: 10px;
  text-decoration: none;
}

ul {
  transform: translate(50%);
  position: absolute;
  left: 48%;
  top: 50px;
}
